<script>
  htmx.onLoad(function() {
    var sortables = document.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      var sortableInstance = new Sortable(sortable, {
        animation: 150,
        ghostClass: 'blue-background-class',

          // Make the `.htmx-indicator` unsortable
        filter: ".htmx-indicator",
        onMove: function (evt) {
          return evt.related.className.indexOf('htmx-indicator') === -1;
        },

          // Disable sorting on the `end` event
        onEnd: function (evt) {
          this.option("disabled", true);
        }
      });

      // Re-enable sorting on the `htmx:afterSwap` event
      sortable.addEventListener("htmx:afterSwap", function() {
        sortableInstance.option("disabled", false);
      });
    }
  });
</script>


<form class="sortable" hx-post="/songbook/sort_form" hx-trigger="end">
  <div class="htmx-indicator">Updating...</div>
  {% for song in songs %}
    <div><input type='hidden' name='item' value='1'/>{{song.title}}</div>
  {% endfor %}
  <input type='hidden' name='songbook_id' value='{{songbook.songbook_id}}'/>
</form>
