<h5 class="card-title">{{ songbook.title }}</h5>
<p class="card-text">Number of songs: {{songbook.song_count}}</p>
<button class="btn btn-primary" hx-get="/rename_songbook/{{songbook.songbook_id}}" hx-target="#cardbody_{{songbook.songbook_id}}" hx-swap="innerHTML">Rename</button>
<a href="songbook/{{songbook.songbook_id}}" class="btn btn-primary">Read More</a>
<button class="btn btn-danger" hx-target="#slide_{{songbook.songbook_id}}" hx-delete="/delete_songbook/{{songbook.songbook_id}}" hx-swap="outerHTML">Delete</button>
