<div id="new_card_placeholder" style="display: none;">
</div>
<div class="swiper-slide swiper-slide-active" style="margin-right: 10px;" role="group" id="slide_{{songbook_id}}">
    <div class="card">
        <div class="card-body" id="cardbody_{{songbook_id}}">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">Your description goes here.</p>
            <button class="btn btn-primary" hx-get="/rename_songbook/{{songbook_id}}" hx-target="#cardbody_{{songbook_id}}" hx-swap="innerHTML">Rename</button>
            <button class="btn btn-danger" hx-target="#slide_{{songbook_id}}" hx-delete="/delete_songbook/{{songbook_id}}" hx-swap="outerHTML">Delete</button>
        </div>
    </div>
</div>
