
<h1>{{ song.title }}</h1>
<div class="card border-0 bg-light-subtle shadow-sm mb-3">
  <div class="card-body py-2">

    <div class="d-flex flex-wrap align-items-center gap-3 small text-muted">

      {% if song.type %}
        <span class="fw-medium text-dark">
          {{ song.type }}
        </span>
      {% endif %}

      {% if song.location %}
        <span>
          📍 {{ song.location }}
        </span>
      {% endif %}

      {% if song.year %}
        <span>
          📅 {{ song.year }}
        </span>
      {% endif %}

      {% if song.source %}
        <span>
          Source: <span class="fw-medium text-dark">{{ song.source.title }}</span>
        </span>
      {% endif %}

      {% if song.page %}
        <span>
          Page {{ song.page }}
        </span>
      {% endif %}

      {% if song.signature %}
        <span>
          {{ song.signature }}{% if song.number %}: {{ song.number }}{% endif %}
        </span>
      {% endif %}

    </div>

  </div>
</div>


{% if song.lytex %}
  <img src="/tmp/{{ song.id }}/source.cropped{% if theme == "dark" %}.dark{% endif %}.png" />
  <div class="my-1">
    <font color='black'>
      <midi-player src="/tmp/{{ song.id }}/source.midi" sound-font></midi-player>
    </font>
  </div>
{% endif %}

{% if song.verses %}
  <div class="container mx-0 my-2">
    <div class="row d-flex">
      {% set verses = song.verses.split('\n\n') %}
      {% for verse in verses %}
        <div class="col-auto">
          {{ loop.index }}.
          {% set lines = verse.split('\n') %}
          <ul class="list-unstyled text-nowrap">
            {% for line in lines %}
              <li>{{ line }}</li>
            {% endfor %}
          </ul>
          <br/>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
