
<h1>{{ song.title }}</h1>
{% if song.type %}
  <div class="container">
    <div class="row row-cols-auto">
      <div class="col-md-1">
        <p>{{song.type}}</p>
      </div>
    </div>
  </div>
{% endif %}

{% if song.location %}
  <div class="container-fluid">
    <div class="row row-cols-auto">
      <div class="col-md-2">
        <p>{{song.location}}</p>
      </div>
    </div>
  </div>
{% endif %}

{% if song.lytex %}
  <img src="/tmp/{{ song.id }}/source.cropped{% if theme == "dark" %}.dark{% endif %}.png" />
{% endif %}
{% if song.verses %}
  <div class="container mx-0">
    <div class="row row-cols-auto">
      {% set verses = song.verses.split('\n\n') %}
      {% for verse in verses %}
        <div class="col-md-2">
          <div class="verse">
            {{ loop.index }}.
            {% set lines = verse.split('\n') %}
            {% for line in lines %}
              {{ line }}<br />
            {% endfor %}
            <br />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
