<div class="col-md-2 col-sm-1 my-3" hx-target="this">
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title" id="category_sort" name="category">
                        {{search_type}}
                    </h5>
                    <input type="hidden" id="category_sort" name="category" value="{{search_type}}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" hx-get="/filter_partial/type" hx-swap="delete"><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <input class="form-control" type="search" name="search_term" placeholder="Begin Typing To Search Songs..." hx-post="/source/filter" hx-target="#songbook_accordion" hx-indicator=".htmx-indicator"  hx-trigger="input changed delay:500ms">
        </div>
    </div>
