<div class="card my-2" id="card_{{instance[id_name]}}" hx-target="this">
    <div class="card-body">
        <h5 class="card-title">{{instance.__class__.__name__}}</h5>
        <p class="card-text">
            {% for field in columns %}
                {% if field != 'cls_name' %}
                    <p>{{ field }}: {{ instance[field] }}</p>
                {% endif %}
            {% endfor %}
        </p>
        <div class="row my-3">
            <div class="col btn-group mt-auto">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class="bi bi-trash3-fill"></i></button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="btn btn-danger my-2 mx-5 text-align-left" hx-swap="outerHTML" hx-delete="/admin/delete/{{instance.__class__.__name__}}/{{instance[id_name]}}">Delete</button></li>
                </ul>
            </div>
            <div class="col btn-group mt-auto">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class="bi bi-pencil"></i></button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="btn btn-info my-2 mx-5 text-align-left" hx-swap="outerHTML" hx-get="/admin/edit/{{instance.__class__.__name__}}/{{instance[id_name]}}">Edit</button></li>
                </ul>
            </div>

            {% if instance.__class__.__name__ == "Song" %}
                <div class="col btn mt-auto">
                    <button type="button" class="btn btn-info my-2 mx-5 text-align-left"
                            hx-get="/admin/regenerate/{{instance[id_name]}}"
                            hx-trigger="click"
                            hx-indicator=".loading-indicator">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <span class="loading-indicator" style="display:none;">Regenerating...</span>
                    </button>
                </div>
            {% endif %}

        </div>

    </div>
</div>


<script>
    document.addEventListener("htmx:beforeRequest", function(event) {
        if (event.target.matches('[hx-get]')) {
            let button = event.target;
            button.querySelector('.bi').style.display = 'none'; // Hide the icon
            button.querySelector('.loading-indicator').style.display = 'inline'; // Show the loading indicator
        }
    });

    document.addEventListener("htmx:afterRequest", function(event) {
        if (event.target.matches('[hx-get]')) {
            let button = event.target;
            button.querySelector('.bi').style.display = 'inline'; // Show the icon
            button.querySelector('.loading-indicator').style.display = 'none'; // Hide the loading indicator
        }
    });
</script>
