{% extends "base.html" %}


{% block content %}


    <title>Your Dashboard</title>
    <!-- Include Swiper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Include your custom CSS -->
    <style>
        .swiper-container {
            overflow-x: auto;
        }

        .swiper-slide {
            display: inline-block;
            width: 18rem; /* Adjust the width as needed */
            margin-right: 10px; /* Adjust the spacing between cards */
            vertical-align: top;
        }

        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */


        }
        .smooth {
            transition: all 1s ease-in;
        }
    </style>


    <div class="container">
        <h1>Your Dashboard</h1>

    <!-- Custom Songbook Section -->
        <div class="d-flex align-items-center mb-3">
            <h2 class="mr-auto">My songbooks</h2>
            <button class="btn btn-primary mx-3" hx-get="/create_songbook" hx-swap="beforeend" hx-target="#custom_songbooks" data-bs-toggle="tooltip" data-bs-title="Create custom songbook">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>


        <div class="container">
            <div class="row" id="custom_songbooks">
                {% for songbook in songbooks %}
                    {% include "htmx/custom_songbook_card.html" %}
                {% endfor %}
            </div>
        </div>

    <!-- Books Section -->
        <h2>Available Books</h2>
            <!-- Book Cards -->
        <div class="container">
            <div class="row">
                {% for source in sources %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>{{ source.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ source.author.name }} {{ source.author.surname }}, {{ source.year }}</p>
                                <a href="source/{{ source.id }}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>





{% endblock %}
