{% extends "base.html" %}

{% block content %}

    <div class="card my-5 mx-1">
        <div class="card-header">
            <h2>Metadata</h2>
        </div>
        <div class="card-body">
            <p>{{song.title}}</p>
        </div>
    </div>


    <div class="card my-5 mx-1">
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card mx-2 my-2">
                <div class="card-header">
                    <h5 class="card-title">Preamble</h5>
                </div>

                <div class="card-body">
                    <form hx-post="/song_editor/preamble" hx-trigger="change delay:500ms" hx-target="this" hx-swap="none" id="songForm">
                        <input type='hidden' name='uuid' value='{{uuid}}'/>
                        <div>
                            <input type="checkbox" hx-post="/song_editor/preamble" name="autobeamoff" checked/>
                            <label for="autobeamoff">Autobeamoff</label>
                        </div>


                        <div>
                            <input type="checkbox" name="includelyrics"/>
                            <label for="includelyrics">Include lyrics</label>
                        </div>

                        <div class="row my-2">
                            <div class="col col-2">
                                <label for="time-signature">Time</label>
                                <input type="number" name="time_numerator" placeholder="2" value=2 size="1"> /
                                <input type="number" name="time_denominator" placeholder="4" value=4 size="1">
                            </div>
                        </div>


                        <div class="row my-2">
                            <label for="key_value">Key</label>
                            <select name="key_value">
                                <option value="c" selected>C</option>
                                <option value="cis">Cis</option>
                                <option value="d">D</option>
                                <option value="dis">Dis</option>
                                <option value="e">E</option>
                                <option value="f">F</option>
                                <option value="fis">Fis</option>
                                <option value="g">G</option>
                                <option value="gis">Gis</option>
                                <option value="a">A</option>
                                <option value="bes">B</option>
                                <option value="B">H</option>
                            </select>
                        </div>

                        <div class="row my-1">
                            <div class="col col-2">
                                <input type="radio" name="key_type" value="major" checked>
                                <label for="major">major</label><br>
                            </div>
                            <div class="col col-2">
                                <input type="radio" name="key_type" value="minor">
                                <label for="minor">minor</label><br>
                            </div>
                        </div>


                        <div class="row my-2">
                            <div class="col col-2">
                                <label for="tempo">Tempo</label>
                                <input type="text" name="tempo" placeholder="Rychle">

                                <label for="tempomidi">TempoMIDI</label>
                                <input type="number" name="tempomidi" value=120 placeholder="120">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col col-2">
                                <label for="firsttone">First tone</label>
                                <input type="text" name="firsttone" placeholder="c" value="c">
                            </div>
                        </div>

                        <textarea id=rows="{{rows}}" name="tones" style="min-width:500px; max-width:100%; min-height:50px; height:100%; width:100%;">c8 d4 b4 fis8 g a</textarea>
                    </form>
                </div>
            </div>
            <img id="dynamicImage" src="/tmp/{{uuid}}/source.cropped{% if theme == "dark" %}.dark{% endif %}.png"/>
        </div>

    </div>

    <div class="card my-5">
        <div class="card-header">
            <h2>Verses</h2>
        </div>
        <div class="card-body">
            <textarea class="form-control" rows="{{rows}}" style="min-width:500px; max-width:100%; min-height:50px; height:100%; width:100%;">{{song.verses}}</textarea>
        </div>
    </div>
    <script>

        document.addEventListener('htmx:afterRequest', (event) => {
            refreshImage();
        });
        function refreshImage() {
            const resultImg = document.getElementById('dynamicImage');

    // Get the current src value of the image
            let currentSrc = resultImg.getAttribute('src');

    // Remove any existing timestamp from the URL
            currentSrc = currentSrc.split('?')[0];

    // Append a unique timestamp to force reload of the image
            const timestamp = new Date().getTime();
            const newSrc = `${currentSrc}?t=${timestamp}`;

    // Set a delay to allow the backend to update the image

            console.log('Reloading image after delay...');

        // Preload the image to avoid flicker
            const preloadedImg = new Image();
            preloadedImg.src = newSrc;

            preloadedImg.onload = function() {
            // Once the image is preloaded, replace the displayed image
                resultImg.src = newSrc;
            };


        }
    </script>
{% endblock %}
