{% extends "base.html" %}

{% block content %}
<!-- The following needs to be inserted somewhere on the page for the player(s) to work. -->
  <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.22.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>

  {% include "snippets/song.html" %}

  <div class="row row-cols-auto">
    <div class="col">Location: {{song.location}}</div>
    <div class="col">Year: {{song.year}}</div>
    <div class="col">Source: {{song.source.title}}, {{song.source.author.name}} {{song.source.author.surname}}, {{song.source.year}} </div>
  </div>
  <br>
  {% include "snippets/song_add_button.html" %}

  <div>
    <midi-player src="/tmp/{{ song.id }}/source.midi" sound-font></midi-player>
  </div>

{% endblock %}
