{% extends "base.html" %}

{% block content %}
  <div class="my-5 mx-2">
    <div >
      <h1>{{ source.title }} </h1>
      <h2>{{ source.author.name }} {{ source.author.surname }}</h2>
    </div>

<!---    <div class="card my-5 mx-5">
      <div class="card-header">
        <h3>Search this Songbook</h3>
      </div>
      <div class="card-body">
        <input class="form-control" type="search"
               name="search" placeholder="Begin Typing To Search Songs..."
               hx-post="/source/search/{{ source.id }}"
               hx-trigger="input changed delay:500ms, search"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator"
        >
        <div class="htmx-indicator">Searching...</div>
        <div class="accordion" id="search-results">
        </div>
      </div>
    </div>
--->
    <div class="d-flex align-items-center mb-3">
      <h2 class="mr-auto">Filter</h2>
      <button class="btn btn-primary mx-3" hx-get="/filter_partial" hx-target="#filter_container" hx-swap="beforeend" data-bs-toggle="tooltip" data-bs-title="Add filter">
        <i class="bi bi-plus-circle-fill"></i>
      </button>
    </div>

    <form>
      <input type='hidden' name='source_id' value='{{source.id}}'/>
      <div class="container-fluid">
        <div class="row justify-content-start" id="filter_container">
  <!---Filter cards go here --->
        </div>
      </div>
    </form>
    <div class="htmx-indicator">Filtering..</div>

    {% with include_add_button=True %}
      {% include "snippets/songs_accordion.html" %}
    {% endwith %}
{% endblock %}
</div>
